.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 50px;
}

.nav-list {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    list-style: none; /* Moved here to avoid duplication */
}

.list-item-link {
    text-decoration: none;
    color: black;
}

.list-item {
    color: rgb(118, 118, 118);
    font-weight: 500;
}

.list-item:hover {
    font-weight: 600;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(36, 169, 36);
}

.logo-img {
    width: 75%;
    height: auto;
}

.img-sec {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger */
    }

    .img-sec {
        justify-content: flex-start; /* Align logo to the left */
    }

    .logo-img {
        width: 70%; /* Adjust logo size for small screens */
    }

    .btn-contact {
        display: none; /* Hide the contact button */
    }

    
}

@media only screen and (min-width: 425px) {
    .list-item{
        width: 80px;
    }

}

    
@media only screen and (max-width: 425px) {
    .nav-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 200px;
        background-color: rgba(231, 231, 231, 0.51);
        z-index: 10;
        text-align: center;
    }
    
    .nav-list{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}